*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: #212121;
  color: #eeeeee;
  font-size: 16px;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

body {
  min-height: 100vh;
  border-top: 0.5rem solid #424242;
  border-bottom: 0.5rem solid #424242;
}

a {
  color: #82b1ff;
  text-decoration: none;
}

a:hover {
  color: #6488c4
}

ol, ul {
  padding-left: 20px;
}

ul > li > ol {
  list-style-type: upper-roman;
}

h1 {
  border-bottom: 5px solid #82b1ff; 
}

pre {
  font-family: Consolas, monaco, monospace;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 5px;
}
code {
  font-family: Consolas, monaco, monospace;
  padding: 2px;
  background-color: #1e1e1e;
  border-radius: 2px;
}

table {
  border-collapse: collapse;
  width: 100%
}

td, th {
  border: 1px solid rgba(255,255,255,.3);
  padding: 5px;
}

.page {
  display: flex;
  flex-direction: row;

  width: 1000px;
  margin: 0 auto
}

.menu {
  width: 300px;
  background-color: rgba(0,0,0,.3);
  padding: 20px;
}

.markdown {
  padding-left: 40px;
}

@media (max-width: 1030px) {
  .page {
    width: 100%;
    padding: 0 30px
  }
}